p.p1 {margin: 0.0px 0.0px 0.0px 0.0px; line-height: 14.0px; font: 12.0px Times; color: #ffffff; -webkit-text-stroke: #000000}
p.p2 {margin: 0.0px 0.0px 0.0px 0.0px; font: 13.0px Helvetica; color: #d69d85; -webkit-text-stroke: #d69d85; background-color: #1e1e1e}
p.p3 {margin: 0.0px 0.0px 0.0px 0.0px; font: 13.0px Helvetica; color: #dcdcdc; -webkit-text-stroke: #dcdcdc; background-color: #1e1e1e}
p.p4 {margin: 0.0px 0.0px 0.0px 0.0px; font: 13.0px Helvetica; color: #9b9b9b; -webkit-text-stroke: #9b9b9b; background-color: #1e1e1e}
p.p5 {margin: 0.0px 0.0px 0.0px 0.0px; font: 13.0px Helvetica; color: #dcdcdc; -webkit-text-stroke: #dcdcdc; background-color: #1e1e1e; min-height: 16.0px}
span.s1 {font-kerning: none}
span.s2 {font-kerning: none; color: #9b9b9b; -webkit-text-stroke: 0px #9b9b9b}
span.s3 {font-kerning: none; color: #569cd6; -webkit-text-stroke: 0px #569cd6}
span.s4 {font-kerning: none; color: #9cdcfe; -webkit-text-stroke: 0px #9cdcfe}
body{
    background-color: #e6e9e7;
   }
h1{
  background-color:#d9cef1;
animation: changeOpacity 2s forwards;
}

img {
  opacity: 1.0;
  filter: alpha(opacity=40);
  animation: slide 1s backwards;
  cursor: pointer;
}

img:hover {
  opacity: 0.7;
  filter: alpha(opacity=100);
  cursor: pointer;
}
/*
#slide {
  position: absolute;
  left: -600px;
  width: 600px;
  height: 370px;
  background: blue;
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 2s;
  animation: slide 0.5s forwards;
  animation-delay: 2s;
} 
@-webkit-keyframes slide {
  100% { left: 0; }
}
*/

@keyframes slide {
  from {margin-left:-100%;
  }
  to {margin-left:0%;
  }
}


@keyframes mymove {
  from {background-color: rgb(63, 10, 35);}
  to {background-color: rgb(189, 90, 98);}
}
@keyframes changeOpacity {
  from {opacity:0; 
  background-color: rgb(238, 180, 207);
}
  to {opacity:1;
    background-color: #e6e9e7;
  }
  }


/* Add a black background color to the top navigation */
.topnav {
background-color: #333;
overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
float: left;
color: #f2f2f2;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
background-color: rgb(178, 233, 221);
color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
background-color: #267028;
color: white;
}


.row {
  display: flex;
}

.column {
  flex: 50%;
  padding: 5px;
}
.center {   display: block;   margin-left: auto;   margin-right: auto;   width: 50%; }