p.p1 {margin: 0.0px 0.0px 0.0px 0.0px; line-height: 14.0px; font: 12.0px Times; color: #ffffff; -webkit-text-stroke: #000000}
p.p2 {margin: 0.0px 0.0px 0.0px 0.0px; font: 13.0px Helvetica; color: #d69d85; -webkit-text-stroke: #d69d85; background-color: #1e1e1e}
p.p3 {margin: 0.0px 0.0px 0.0px 0.0px; font: 13.0px Helvetica; color: #dcdcdc; -webkit-text-stroke: #dcdcdc; background-color: #1e1e1e}
p.p4 {margin: 0.0px 0.0px 0.0px 0.0px; font: 8.0px Helvetica; color: #888787; -webkit-text-stroke: #9b9b9b; background-color: #e6e9e7}
p.p5 {margin: 0.0px 0.0px 0.0px 0.0px; font: 13.0px Helvetica; color: #dcdcdc; -webkit-text-stroke: #dcdcdc; background-color: #1e1e1e; min-height: 16.0px}
span.s1 {font-kerning: none}
span.s2 {font-kerning: none; color: #9b9b9b; -webkit-text-stroke: 0px #9b9b9b}
span.s3 {font-kerning: none; color: #569cd6; -webkit-text-stroke: 0px #569cd6}
span.s4 {font-kerning: none; color: #9cdcfe; -webkit-text-stroke: 0px #9cdcfe}
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
body{
    background-color: #e6e9e7;
   }
h1{
  background-color:#d9cef1;
animation: changeOpacity 2s forwards;
}
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

img {
  border: 1px solid rgb(85, 84, 84);
  opacity: 1.0;
  filter: alpha(opacity=40);
  animation: slide 1s backwards;
  cursor: pointer;
  box-shadow: 10px 10px 5px #ccc;
      -moz-box-shadow: 10px 10px 5px #ccc;
      -webkit-box-shadow: 10px 10px 5px #ccc;
      -khtml-box-shadow: 10px 10px 5px #ccc;
}

img:hover {
  opacity: 0.7;
  filter: alpha(opacity=100);
  cursor: pointer;
}
@keyframes slide {
  from {margin-left:-100%;
  }
  to {margin-left:29%;
  }
}


@keyframes mymove {
  from {background-color: rgb(63, 10, 35);}
  to {background-color: rgb(189, 90, 98);}
}
@keyframes changeOpacity {
  from {opacity:0; 
  background-color: rgb(178, 233, 221);
}
  to {opacity:1;
    background-color: #e6e9e7;
  }
  }


/* Add a black background color to the top navigation */
.topnav {
background-color: #333;
overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
float: left;
color: #f2f2f2;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
background-color: rgb(178, 233, 221);
color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
background-color: #267028;
color: white;
}


.row {
  display: flex;
}

.column {
  flex: 50%;
  padding: 5px;
}
.center {   display: block;   margin-left: auto;   margin-right: auto;   width: 50%; }

input[type=text], input[type=password] {
  width: 20%;
  padding: 8px;
  margin: 5px 0 8px 0;
  border: none;
  background: #f1f1f1;
}
input[type=names]{
  width:70%;
  padding: 8px;
  margin: 5px 0 8px 0;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
.container {position: absolute; margin: 0; width:100%; background: #f4f5f4; min-height: 1000px; }

.white-box { width: 1000px; height: 800px; margin-top: 50px; margin-left: auto; margin-right: auto;   
  
background: rgba(255,255,255,0.9);
padding: 30px;
-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
box-shadow: 0 1px 2px rgba(0,0,0,0.15);
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
-ms-border-radius: 5px;
-o-border-radius: 5px;
border-radius: 5px;
}